<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                Edit Profile
            </h1>
            <% include ./partials/error-message %>
            <form action="/profile/edit" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
                        value="<%= typeof user.name != 'undefined' ? user.name : '' %>"  required/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                        value="<%= typeof user.email != 'undefined' ? user.email : '' %>" readonly="readonly"/>
                </div>
                <div class="form-group">
                    <label for="bio">Bio</label>
                    <input type="text" id="bio" name="bio" class="form-control" placeholder="Enter Bio"
                        value="<%= typeof user.bio != 'undefined' ? user.bio : '' %>" />
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="text" id="mobile" name="mobile" class="form-control" placeholder="Enter Mobile"
                        value="<%= typeof user.mobile != 'undefined' ? user.mobile : '' %>" />
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" class="form-control" placeholder="Enter City"
                        value="<%= typeof user.city != 'undefined' ? user.city : '' %>" />
                </div>
                <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" id="website" name="website" class="form-control" placeholder="Enter Website"
                        value="<%= typeof user.website != 'undefined' ? user.website : '' %>" />
                </div>
                <div class="form-group">
                    <label for="linkedin_url">Linkedin Url</label>
                    <input type="url" id="linkedin_url" name="linkedin_url" class="form-control"
                        placeholder="Enter Linkedin Url"
                        value="<%= typeof user.linkedin_url != 'undefined' ? user.linkedin_url : '' %>" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Update
                </button>
            </form>
        </div>
    </div>
</div>